/* rule 1 */
.subsection {
  color: blue;
}

/* rule 2 */
.main .list {
  color: red;
}

/*Rule 2 is more specific because it more class selectors*/

/* rule 1 */
#subsection {
  color: blue;
}

/* rule 2 */
.main .list {
  color: red;
}
/*despite rule 2 having more class selectors than ID selectors, rule 1 is more specific because ID beats class*/



/* rule 1 */
#subsection {
  background-color: yellow;
  color: blue;
}

/* rule 2 */
.main #subsection {
  color: red;
}
/*the first rule uses an ID selector, while the second rule combines an ID selector with a class selector. Therefore, neither rule is using a more specific selector than the other. The cascade then checks the number of each selector type. Both rules have only one ID selector, but rule 2 has a class  selector in addition to the ID selector, so rule 2 has a higher specificity!*/


/* styles.css */

.alert {
  color: red;
}

.warning {
  color: yellow;
}
/*Whichever rule was the last defined is the winner.*/